@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

@font-face {font-family: "AGER"; src: url('../font/ageb/AGEB.woff');}
@font-face {font-family: "AGER"; src: url('../font/ageb/AGER.woff2');}
@font-face {font-family: "AGEB"; src: url('../font/ageb/AGEB.woff');}
@font-face {font-family: "AGEB"; src: url('../font/ageb/AGEB.woff2');}
@font-face {font-family: "AGEBI"; src: url('../font/ageb/AGEBI.woff');}
@font-face {font-family: "AGEBI"; src: url('../font/ageb/AGEBI.woff2');}

